/* Variables */

:root {
  --main-bg-color: black;
  --bg-triangle-width: 200px;

  --bg-z-index: -1;
}


/* Styles */

html,
body,
main {
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

#background-left {
  position: absolute;

  height: 100vh;
  width: calc(50vw - var(--bg-triangle-width) / 2);

  background-color: var(--main-bg-color);
  
  z-index: var(--bg-z-index);
}

#background-right {
  position: absolute;

  left: calc(50% - var(--bg-triangle-width) /2);

  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: var(--bg-triangle-width) solid transparent;

  border-bottom: 100vh solid var(--main-bg-color);

  z-index: var(--bg-z-index);
}

.title {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 600;
}

.title-left {
  color: white;
  margin-right: 10%;
  margin-left: 20%;
}

.title-rigth {
  color: black;
}

.stack {
  position: absolute;
  left: 0;

  width: 55vw;
  margin: 80vh 0 10vh 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: white;
}
