/* Variables */

:root {
  --main-bg-color: black;
  --main-front-color: white;
  --bg-triangle-width: 25vh;

  --bg-z-index: -1;
}

/* Styles */

html,
body {
  min-height: 100vh;
  overflow: hidden;
  margin: 0;

  display: flex;

  user-select: none;
}

#background-left {
  position: absolute;

  height: 100vh;
  width: calc(50vw - var(--bg-triangle-width) / 2);

  background-color: var(--main-bg-color);

  z-index: var(--bg-z-index);
}

#background-right {
  position: absolute;

  left: calc(50% - var(--bg-triangle-width) / 2);

  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: var(--bg-triangle-width) solid transparent;

  border-bottom: 100vh solid var(--main-bg-color);

  z-index: var(--bg-z-index);
}

#wrapper-title-left {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#title-left {
  margin-right: 2rem;

  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 600;

  color: var(--main-front-color);
}

#wrapper-title-right {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
}

#title-right {
  margin-left: 2rem;

  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 600;

  color: var(--bg-front-color);
}

#stack {
  position: absolute;
  margin-top: 70vh;
  padding-left: 2rem;

  width: 50vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--main-front-color);
}

#email {
  position: absolute;
  right: 0;
  margin-top: 70vh;

  width: 50vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--main-bg-color);

  user-select: text;
}

#projects {
  position: absolute;
  right: 0;
  margin-top: 70vh;

  width: 50vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--main-bg-color);
}


@media screen and (max-width: 992px) {

  #title-left{
    font-size: 10vw;
  }

  #title-right{
    font-size: 10vw;
  }

  #email{
    font-size: 2.5vw;
    width: 40vw;
  }

  #stack{
    margin-left: 0rem;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;
  }
}
